indexbackup.txt

suveyformcssbackup.txt

cssBackup.txt

tributeBackup.txt

stylesbackup.txt

borrar.js

freecodecamexample.html

example.css

fccexamp.html

stylesbackuptext.txt

htmlbtur.html

freecodecamexampleLP.html

jan2025working.css

passing-code.html

techDocGoodLooking/

backupworkingcss.css

indexHamburguerPr.html

passTest.html

stylesbackup.css

landingPage/example.css

notes/

arreglos.txt