body {
  background: #20232a;
  color: #eff0f1;
  font: 16px/1.6 Arial, sans-serif;
}

code {
  display: block;
  padding: 20px;
  background: #272621;
  font-size: 90%;
}

#asidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 344px;
  min-width: 244px;
  border-right: solid 1px #53b4d0;
  border-bottom: solid 2px #53b4d0;
}

#asidenav header h2 {
  text-align: center;
  font-size: 1.1em;
  margin: 0 auto 15px;
}

#asidenav img {
  width: 100%;
  height: auto;
}

#doc {
  position: absolute;
  padding: 12px;
  margin: 0 0 125px 344px;
}

#asidenav ul {
  overflow-y: auto;
  overflow-x: auto;
  padding: 0;
  height: 95%;
}

#asidenav li {
  list-style: none;
  width: 100%;
}

#asidenav a {
  text-decoration: none;
  display: block;
  padding: 10px 28px;
  color: #60d8f9;
}

#asidenav a:hover {
  background: #667c85;
  color: #272621;
}

#airfblue {
  color: #478aa8;
}

#violet {
  color: #c485bf;
}

#vanilla {
  color: #dcdcab;
}

#dskyblue {
  color: #4fbefb;
}

#aspgreen {
  color: #6b9955;
}

#persorange {
  color: #c78c74;
}

#turquoise {
  color: #4ec9b0;
}

#jonquil {
  color: #ecc807;
}

.main-section header h1 {
  color: #60d8f9;
  padding-top: 10px;
}

.react-logo {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 815px) {
  #asidenav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    padding: 0;
    margin-left: 0;
    border-left: none;
    border-bottom: hidden;
    border-right: none;
  }

  #asidenav header h2 {
    margin-top: 10px;
  }

  #doc {
    position: relative;
    margin-top: 380px;
    margin-right: 0;
    margin-left: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 100%;
    word-wrap: break-word;
  }
  .react-logo {
    display: block;
    margin: 0 auto;
    animation: spin 10s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .react-logo {
    height: 100px;
    width: 100px;
  }
}
